<!--categori ui-->

<h2>Categories</h2>

<hr/>

<div class="row">
    <div class="col-lg-5">
        <h4>Add new</h4>
        <form>

        <!--categori name -->
            <div class="form-froup">
                <label for="category-name">Enter name</label>
                <input type="text" class="form-control" id="category-name"/>
                <div class="invalid-feedback">Please enter a category name</div>
            </div>

            <!--categori description-->
            <div class="form-froup">
                <label for="category-desc">Description</label>
                <input type="text" class="form-control" id="category-desc"/>
                <div class="invalid-feedback">Please enter a category name</div>
            </div>

            <!--category file-->
            <div class="form-froup">
                <label for="category-thumbnail">Thumbnail</label>
                <input type="file" class="form-control" id="category-thumbnail"/>
                <div class="invalid-feedback">Please choose a valid image file</div>
            </div>

            <div class="form-group">
                <img id="selected-thumbanail" width="250" height="150" src="#"/>
            </div>
            
            <!--categori progressbar-->
            <div class="form-group">
                <div class="progress">
                    <div class="progress-bar" id="upload-progress" style="width:0%">0%</div>
                </div>
            </div>

            <!--save btn-->
            <div class="form-group">
                <button type="button" id="save-category" class="btn btn-primary">Save</button>
            </div>
        </form>

        <div id="result">

        </div>
    </div>

    <!-- to show save categories -->
    <div class="col-lg-7">
        <h4>Saved Categories</h4>
    </div>
</div>

<script>

    var validImgType=["image/gif","image/jpeg","image/png"];

    $("#selected-thumbanail").hide();

    function previewThumbnail(thumbnail){
        if(thumbnail.files && thumbnail.files[0]){
            var reader = new FileReader();
            reader.onload=function(e){
                $("#selected-thumbanail").attr('src',e.target.result);
                $("#selected-thumbanail").fadeIn();

            }
            reader.readAsDataURL(thumbnail.files[0]);

        }
    }

    $("#category-thumbnail").change (function(){
        previewThumbnail(this);
    });


    $("#save-category").click(function(){
       
        $("#category-name").removeClass("is-invalid"); 
        $("#category-desc").removeClass("is-invalid"); 
        $("#category-thumbnail").removeClass("is-invalid"); 


        var catName = $("#category-name").val();
        var catDesc = $("#category-desc").val();
        var thumbanail = $("#category-thumbnail").prop("files")[0];

        if(!catName){
            $("#category-name").addClass("is-invalid"); 
            return;

        }
         if(!catDesc){
            $("#category-desc").addClass("is-invalid"); 
            return;

        } if(thumbanail==null){
            $("#category-thumbnail").addClass("is-invalid"); 
            return;
        }
         if ($.inArray(thumbanail["type"],validImgType)<0){
            $("#category-thumbnail").addClass("is-invalid"); 
            return;
        }
        
        //var database = firebase.database.ref("categories/"+catName);
        const storageRef = ref(storage, "categories/"+catName);

        storageRef.once("value").then(function(snapshot){
            if(snapshot.exists()){
                $("#result").attr("class","alert alert-danger");
                $("#result").html("Category already exists");
            }else{
                var name = thumbanail["name"];
                var ext = name.substring(name.lastIndexOf("."),name.length);
                var thumbName = new Date.getTime();
                var storageRef = firebase.storage().ref(catName+"/"+thumbName);
                var uploadTask = storageRef.put(thumbanail);
                uploadTask.on("state_changed",
                
                function progress(snapshot){
                    var percentage  = (snapshot.bytesTransferred/snapshot.totalbytes) *100;
                    $("upload-progress").html(percentage+"%");
                    $("upload-progress").attr("style","width: "+percentage+" %");

                },

                function error(err){

                },

                function complete(){
                    var thumbnailUrl = uploadTask.snapshot.downloadURL;
                    var saveCat = {
                      "thumbanail" : thumbnailUrl,
                      "desc" :  catDesc
                    };

                    database.set(saveCat,function(err){
                        if(err){
                            $("#result").attr("class","alert alert-danger");
                            $("#result").html(err.message);
                        }else{
                            $("#result").attr("class","alert alert-success");
                            $("#result").html("Category added");
                        }
                    })

                }
                
                
                
                );
            }
        });


    });

</script>

